<div>
	<ul>
		<li><a [routerLink]="['page', '1']" routerLinkActive="router-link-active">Go to pages preview</a></li>
		<li><a [routerLink]="['page-profile', '1', 'edit']" routerLinkActive="router-link-active">Go to page edit</a></li>
		<li><a [routerLink]="['page-profile', 'create']" routerLinkActive="router-link-active">Go to page create</a></li>
		<li><a [routerLink]="['component', '2']" routerLinkActive="router-link-active">Go to pages component edit</a></li>
		<li><a [routerLink]="['component-create']" routerLinkActive="router-link-active">Go to pages component create</a></li>
	</ul>
</div>
